/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnaseq -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = true
  readPaths = [
    ['sample1', ['data/example/sample1.fastq.gz']],
  ]
  // Subsample some (but not all) files
  // Genome references
  fasta = 'data/example/genome.fa'
  gtf = 'data/example/genes.gtf'
  repeat = 'data/example/repeat.gtf'
  rrna = 'data/example/rrna.fa'
}
